*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    margin: 0;
}

/*NAVBAR*/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    font-family: 'Montserrat', sans-serif;
}

.logo{
    color: rgb(226,226,226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links{
    display: flex;
    width: 30%;
    justify-content: space-around;
}

.nav-links li {
    list-style-type: none;
}

.nav-links a {
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(226,226,226);
}

.burger {
    display: none;
    cursor: pointer;
}

 .burger div {
     width: 25px;
     height: 3px;
     background-color: rgb(226,226,226);
     margin: 5px;
 }

 /*END OF NAVBAR*/

 /*LANDING PAGE IMAGE*/
 .grow {
     background-image: url('img/Kal.jpg');
     height: 50vh;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
 }
 

 .connect{
     width: 69vw;
     margin: 3% auto;
     color: #fff;
 }

 .con h3{
     display: inline-block;
 }

 .con a {
    text-decoration: none;
    letter-spacing: 3px;
    margin-top: 5%;
    font-size: 20px; 
    font-weight: bold;
    color: rgb(226,226,226);
}

.detail{
    width: 80vw;
    margin: 3% auto;
}

.detail h1{
    margin: 2% auto;
    letter-spacing: 2px;
    font-size: 2.5em;
}

.details{
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
}

.item{
    width: 100%;
    padding: 5%;
    margin-bottom: 1.6%;
}

#boli {
    background-color: #413D2e;
    font-size: 20px;
    color: #fff;
    border: none;
}

#boli:hover {
    background-color: #d6d951;
    color: black;
}

/*FOOTER*/
 .bottom {
    background-color: black;
    height: 40vh;
    margin-bottom: 0;
}

.footers{
    display: grid;
    grid-gap: 2%;
    padding: 3% 0;
    width: 80vw;
    margin: auto;
    color: blanchedalmond;
    grid-template-columns: repeat(4, 1fr);
    letter-spacing: 2px;
    text-align: center;
}

.footers h3{
   margin: 4% auto;
}

.footers p {
    line-height: 2em;
}

.footers a{
    text-decoration: none;
    color: #d6d951;
}

.footer4 .icon {
    margin-right: 10px;
}

 /*MEDIA QUERIES*/
 @media screen and (max-width: 1024px) {
    
    .nav-links{
         width: 60%;
     }
 }

 @media screen and (max-width: 768px) {

    body{
        overflow-x: hidden;
    }

     .nav-links{
         position: absolute;
         right: 0px;
         height: 92vh;
         top: 8vh;
         background-color: #5d4954;
         display: flex;
         flex-direction: column;
         align-items: center;
         width: 50%;
         transform: translateX(100%);
         transition: transform 0.5s ease-in;
     }

    /* .nav-links li {
        opacity: 0;
     }*/

     .burger{
         display: block;
     }
 }

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
   opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}
